<section class="todoapp">
	<header class="header">
		<h1>Your Action Items</h1>
		<input class="new-todo" placeholder="Create New List" autofocus="">
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @lists.each do |list| %>
      <li>
        <div class="view">
          <label><a href="#">Shopping List</a></label>
        </div>
      </li>
			<% end %>
    </ul>
	</section>

	<footer class="footer">
	</footer>
</section>
