<section class="todoapp">
	<header class="header">
		<h1>Your Action Items</h1>
		<input class="new-todo" placeholder="Create New List" autofocus="">
	</header>

	<section class="main">
		<ul class="todo-list">
      <li>
        <div class="view">
          <label>Shopping List</label>
        </div>
      </li>
      <li>
        <div class="view">
          <label>Construction List</label>
        </div>
      </li>
      <li>
        <div class="view">
          <label>Nonsense List</label>
        </div>
      </li>
    </ul>
	</section>

	<footer class="footer" style="display: block;">
	</footer>
</section>
